/*
This file includes the css of the shop rows, buttons and prices
*/

.selected_shop_panel {
    border-top: 10px solid rgb(230, 148, 55);
    margin-top: 0;
}

/* the whole row of the shop. it includes the items div and the price div */
.item_shop_row {
    background-color: rgb(117,76,13);
    padding: 30px;
    width: 1400px;
    min-height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* the div wrapping all the items inside the row */
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    max-width: 1290px;
}

.item_shop_row:nth-child(odd) {
    filter: brightness(90%);
}

.item_shop_row:nth-child(even) {
    filter: brightness(80%);
}

.item_shop_row:hover {
    filter: brightness(1);
}

.row_price {
    justify-content: center;
    color: #70f8c1; 
    display: flex;
    align-items: center;
    height: 140px;
    min-width: 120px;
    max-width: 120px;
    overflow: hidden; 
}

.rotate_price {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_text {
    font-size: 28px;
    font-family: ShopFont;
}

.souls_cost {
    margin-right: 5px;
    height: 30px;
    width: 20px;
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(96%) 
        sepia(7%) 
        saturate(3082%) 
        hue-rotate(70deg) 
        brightness(113%) 
        contrast(113%);
}

.shop_buttons {
    display: flex;
    flex-direction: row;
}

.category_button {
    margin-bottom: 0;
    margin-right: 15px;
    background: beige;
    filter: brightness(80%);
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_button:hover {
    filter: brightness(90%)
}

.category_text {
    font-size: 28px;
    font-family: ShopFont;
}

.category_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    filter: 
        brightness(0) 
        invert(13%) 
        sepia(16%) 
        brightness(98%) 
        contrast(96%);
}

.top_border_weapon {
    border-top: rgb(230, 148, 55) 7px solid;
}

.top_border_vitality {
    border-top: rgb(116, 176, 28) 7px solid;
}

.top_border_spirit {
    border-top: rgb(194, 136, 240) 7px solid;
}

.top_border_weapon.focus {
    filter: brightness(100%);
    background-color: rgb(230, 148, 55);
}

.top_border_vitality.focus {
    filter: brightness(100%);
    background-color: rgb(116, 176, 28);
}

.top_border_spirit.focus {
    filter: brightness(100%);
    background-color: rgb(194, 136, 240);
}

.bottom_corner_text {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 18px;
    color: rgb(134, 134, 134);
}
